<% stylesheet_link_tag 'event-index'%>
<h2>Events</h2> 

<div class="event-body">
    <div>Past Events</div>
    <div class="event-cards">
        <% @events.past_events.each do |event| %>
            <div class="event-card">
                <%= link_to event_path(event) do %>
                    <%= render event %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<div class="event-body">
    <div>Upcoming Events</div>
    <div class="event-cards">
        <% @events.upcoming_events.each do |event| %>
            <div class="event-card">
                <%= link_to event_path(event) do %>
                    <%= render event %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>