<h2>List of all events taking place</h2> 
<div>Past Events</div>
<% @events.past_events.each do |event| %>
  
    <%= render event %>
    <% if user_signed_in? %>
        <%= link_to 'Event', user_event_path(current_user.id, event.id)%>
    <% end %>

<% end %>
<div>Upcoming Events</div>
<% @events.upcoming_events.each do |event| %>
    <%= render event %>
    <% if user_signed_in? %>
        <%= link_to 'Event', user_event_path(current_user.id, event.id)%>
    <% end %>
<% end %>