<% stylesheet_link_tag 'event-show' %>

<%= render @event %>
<h3>People Attending</h3>

<% @event.attendees.each do |user| %>
    <div><%= user.name %></div>
<% end%>

<%= link_to "Edit Article", edit_event_path%>
<% unless @event.attendees.include?(current_user) %>
    <%= button_to "Attend event", event_events_users_path(current_user.id, @event.id), method: :post %>
<% end %>