.event-cards .event-card{
    box-sizing: border-box;
    padding: 20px;
    height: 200px;
    width: 300px;
    border-radius: 12px;
    border: 1px solid teal;
    box-shadow: 3px 3px 4px lightgray;
}

.event-cards{
    display: flex;
    gap: 20px;
}

.event-card.create{
    font-size: 3.5rem;
    text-shadow: 1px 1px black;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

